<h1 class="text-center m-4">Chnage Your Password Here
</h1>
<p id="message"></p>


<%= form_with(url: change_password_path, model: @password, method: :post, local: false) do |form| %>

    <%= form.hidden_field :id %>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :old_password, "Enter Your Old Password", style: "display: block" %>
                <%= form.password_field :old_password, class:"form-control", id: "old_password" %>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :new_password, "Enter Your New Password", style: "display: block" %>
                <%= form.password_field :new_password, class:"form-control", id:"new_password", onkeyup: "check_Password()" %>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :confirm_password, "Enter Your Confirm Password", style: "display: block" %>
                <%= form.password_field :confirm_password, class:"form-control", id:"confirm_password",onkeyup: "check_Password()" %>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-2">
        <div class="col-lg-3">
            <%= form.submit "Change Password", class:"btn btn-success", data: { disable_with: "saving..." }, id: "btn", style:"display:none;" %>
        </div>
    </div>

<% end %>


<script type="text/javascript">

    function check_Password() {

        if (document.getElementById('new_password').value.length < 4) {
            document.getElementById('message').innerHTML = "Length Should Be greater than 3"
            document.getElementById('message').style.color = "red"

        } else {
            document.getElementById('message').innerHTML = " "

        }
        if (document.getElementById('new_password').value == document.getElementById('confirm_password').value) {
            document.getElementById('btn').style.display = "block";
        } else {
            document.getElementById('btn').style.display = "none";
        }
    }
</script>
